$_submit: #59a100;
$_close: #ef974b;
$_white: white;

.education-block {
  margin-top: 2em;
}

.education-form {
  display: none;

  &.--visible {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
}

.education-subject {
  font-size: larger;
  font-weight: 700;
}

.education-school {
  font-weight: 500;
  margin-top: 10px;
}
