@import '../../../styles/base.scss';

$_submit: #59a100;
$_close: #ef974b;
$_white: white;
$_black-light: #847d7d;

.education-block {
  margin-top: 2em;
}

.education-form {
  display: none;

  &.--visible {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
}

.education-subject {
  font-size: medium;
  font-weight: 900;
}

.education-school {
  color: $_black-light;
  font-weight: 500;
  margin-top: 10px;
}
