$_primary: #ee6352;
$_submit: #59a100;
$_close: #ef974b;

body {
  background: #ddd;
  font-family: basic-sans, sans-serif;
  height: 100vh;
  margin: auto;
  width: 90%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

input {
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;

  &:hover {
    border-color: $_primary;
  }

  &:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0 0 10px #719ece;
  }
}

.section-header {
  font-weight: 900;
  color: $_primary;
}

button {
  border-color: transparent;
  border-radius: 5px;
  padding: 5px 30px;

  &.--add {
    background: $_submit;
  }

  &.--close {
    background: $_close;
  }
}
