$_primary: #ee6352;
$_submit: #59a100;
$_submit-hover: #82d41d;
$_close: #ef974b;
$_close-hover: #ea852d;

body {
  background: #ddd;
  font-family: 'Noto Sans JP', sans-serif;
  height: 100vh;
  margin: auto;
  width: 90%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.resume-form-block {
  max-width: 80vh;
  min-width: 80vh;
}

input,
textarea {
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;

  &:hover {
    border-color: $_primary;
  }

  &:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0 0 10px #719ece;
  }
}

.section-header {
  font-weight: 900;
  color: $_primary;
}

button {
  cursor: pointer;
  border-color: transparent;
  border-radius: 5px;
  font-weight: 700;
  padding: 5px 30px;

  &.--add {
    background: $_submit;

    &:hover {
      background: $_submit-hover;
    }
  }

  &.--close {
    background: $_close;

    &:hover {
      background: $_close-hover;
    }
  }
}

.record-btn {
  margin: 0 5px;
  width: 135px;
}

.record-card {
  align-items: center;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin: 2em 0;

  &.--block {
    display: block;
  }
}

.period {
  font-weight: bold;
  margin: 1em;
}

.card-details {
  flex: 2;
  text-align: center;
  margin: 1em;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}
