.work-form {
  display: none;

  &.--visible {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
}

.top-block {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.work-position {
  font-size: larger;
  font-weight: 700;
}

.work-company {
  font-weight: 500;
  margin-top: 10px;
}

.work-description {
  font-size: smaller;
  overflow-wrap: break-word;
  padding: 1em;
}
