$_black-light: #847d7d;
$_primary-light: #ad7979;

.cv-wrapper {
  background: white;
  border-radius: 5px;
  margin: 2em;
  padding: 2em;
  min-width: 60vh;
  max-width: 80vh;
}

.personal-details {
  &.--wrapper {
    line-height: 1.5em;
  }
}

.personal-contacts {
  color: $_black-light;
  line-height: 1.5em;

  &.--email,
  &.--number {
    margin: 0;
  }
}

.personal-education-wrapper::before,
.work-experience-wrapper::before {
  border-top: dotted;
  color: $_primary-light;
  content: '';
  display: block;
  width: 100%;
}

.personal-education-wrapper {
  margin: 4em 0;
}

.education-record {
  border: 1px solid;
  border-color: $_primary-light;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 1em;
}

.education-period {
  color: $_black-light;
}
