$_black-light: #847d7d;
$_primary-light: #ad7979;
$_height-medium: 1.5e;

.cv-wrapper {
  background: white;
  border-radius: 5px;
  margin: 2em;
  padding: 2em;
  min-width: 60vh;
  max-width: 80vh;
}

.personal-details {
  &.--wrapper {
    line-height: $_height-medium;
  }
}

.personal-contacts {
  color: $_black-light;
  line-height: $_height-medium;

  &.--email,
  &.--number {
    margin: 0;
  }
}

.education-wrapper::before,
.experience-wrapper::before {
  border-top: dotted;
  color: $_primary-light;
  content: '';
  display: block;
  width: 100%;
}

.education-wrapper {
  margin: 4em 0;
}
